{
    "racers": [
        {"id": "15470138", "app": "rsi-15"},
        {"id": "15454760", "app": "stoch-30"},
        {"id": "15471568", "app": "demo"},
        {"id": "15471560", "app": "test"}
    ]
}
